<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/header" ></th:block>
</head>
<body>
<header>
    <th:block th:include="fragments/nav" ></th:block>
</header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Register</span></h1>
    <hr class="hr-3"/>
    <form th:object="${updateUser}" class="mx-auto mb-5 text-center w-25 bg-dark p-3 rounded"
          th:action="@{/users/update}" th:method="post">

        <input th:field = "*{id}" type="hidden" id="id" name="id" >

        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="username" class="h4 mb-2 text-white">Username</label>
            </div>
            <input th:field = "*{username}" th:errorclass = "bg-danger"  type="text"
                   class="form-control" id="username" name="username"/>
            <small class="text-danger" th:each="e : ${#fields.errors('username')}"
                   th:text="${e}">Error Message Here!</small>
            <small class="text-danger" th:if="${userExists}">User with such username
                already exists!</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="email" class="h4 mb-2">Email</label>
            </div>
            <input th:field = "*{email}" th:errorclass = "bg-danger"
                   type="email" class="form-control" id="email" name="email"/>
            <small class="text-danger" th:each="e : ${#fields.errors('email')}"
                   th:text="${e}">Error Message Here!</small>
            <small class="text-danger" th:if="${emailExists}">User with such Email
                already exists!</small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="oldPassword" class="h4 mb-2">OldPassword</label>
            </div>
            <input th:errorclass = "bg-danger"
                   type="password" class="form-control" id="oldPassword" name="oldPassword" />
            <small class="text-danger" th:each="e : ${#fields.errors('oldPassword')}"
                   th:text="${e}">Error Message Here!</small>
            <small class="text-danger" th:if="${oldPasswordNoMatch}">Wrong password</small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="newPassword" class="h4 mb-2">New Password</label>
            </div>
            <input th:errorclass = "bg-danger"
                   type="password" class="form-control" id="newPassword" name="newPassword" />
            <small class="text-danger" th:each="e : ${#fields.errors('newPassword')}"
                   th:text="${e}">Error Message Here!</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="confirmNewPassword" class="h4 mb-2">Confirm New Password</label>
            </div>
            <input th:errorclass = "bg-danger"
                   type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword"/>
            <small class="text-danger" th:each="e : ${#fields.errors('confirmNewPassword')}"
                   th:text="${e}">Error Message Here!</small>
            <small class="text-danger" th:if="${confirmNewPassword}">Passwords don't match!</small>
        </div>
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-secondary text-white mb-3" value="Register"\>Register</button>
        </div>
    </form>
</main>
<footer class="footer bg-dark  py-2">
    <th:block th:include="fragments/footer" ></th:block>
</footer>
</body>
</html>