<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<body>
<header>
    <th:block th:include="fragments/nav"></th:block>
</header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Products</span></h1>
    <!--    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark" th:text="|Total count of items: ${items.size()}|" ></span></h1>-->
    <hr class="hr-3"/>
    <div class="container-fluid">
        <div class="offers row mx-auto d-flex flex-row justify-content-center">
            <div th:each="i : ${products}" th:object="${i}" class="offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0">
                <a>
                    <div class="card-img-top-wrapper">
                        <img  th:src="*{pictureUrl}" class="img-thumbnail">
                    </div>
                    <div class="card-body pb-1">
                        <h5 class="card-title text-center" th:text="*{title}">Item name</h5>
                    </div>
                    <ul class="offer-details list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="card-text text-center" th:text="*{price}"><span>Item price</span></div>
                        </li>
                    </ul>
                    <ul class="offer-details list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="card-text text-center" th:text="*{discountedPrice}"><span>Item price</span>
                            </div>
                        </li>
                    </ul>
<!--                    <a class="btn btn-danger" th:href="@{/users/delete(id = *{id})}">Details</a>-->
                    <a class="btn btn-danger" th:href="@{/cart/add(id = *{id})}">Add to Cart</a>
                </a>
            </div>
        </div>
</main>
<footer class="footer bg-dark  py-2">
    <th:block th:include="fragments/footer"></th:block>
</footer>
</body>
</html>
